@model Inventario.BL.Salida

@{
    ViewBag.Title = "Salida Detalle";
}

<h2>Detalle de la Salida No. @Model.ID</h2>

<table class="table table-bordered table-hover">
    <tr>
        <td>Seccion</td>
        <td>@Model.Seccion.Nombre</td>
    </tr>
    <tr>
        <td>Pasillo</td>
        <td>@Model.Seccion.Pasillo</td>
    </tr>
    <tr>
        <td>Fecha</td>
        <td>@Model.Fecha</td>
    </tr>
    <tr>
        <td>Total</td>
        <td>@Model.Total</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Nuevo Producto", "Crear", new { id = Model.ID})
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Producto
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Precio
        </th>
        <th>
           Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ListadeSalidaDetalle) {
    <tr>
        <td>
            <img src="@item.Producto.UrlImagen" alt="@item.Producto.Descripcion" style="max-width: 64px; height: auto"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Regresar a salidas", "Index", "Salidas")
