@model Inventario.BL.Seccion

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>&iquest;Esta seguro que desea eliminar esta Seccion?</h3>
<div>
    <h4>Seccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pasillo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pasillo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
